#code {
	text-align: center;
	font-size: 14pt;
	padding-bottom: 22px;
}

#queue_message {
	text-align: center;
	font-size: 14pt;
	padding-bottom: 22px;
}

#queue_attempt {
	text-align: center;
	font-size: 14pt;
	padding-bottom: 22px;
}

.code_num {
	font-style: bold;
}

.footer {
	padding-top: 150px;
	color: white;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.information {
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 80px;
	color: white;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.logo {
	cursor: pointer;
	position: fixed;
	font-family: verdana;
	font-size: 35px;
	text-align: left;
	padding-left: 40px;
	padding-top: 20px;
	color: white;
}

.song-search {
	position: fixed;
	padding-left: 60px;
	padding-top: 20px;
<<<<<<< HEAD
	align: left;
	color: blue;
}
=======
<<<<<<< HEAD
}

.queue {
	position: relative;
	width: auto;
	height: 70px;
	border-radius: 5px;
	background-color: white;
}

.empty_queue {
	position: relative;
	vertical-align: middle;
	top: 30%;
}

.queue_elem {
	background-image: url("jukebox-wireframe.png");
	position: relative;
	width: auto;
	border-radius: 5px;
	padding-bottom: 20px;
	height: 70px;
}

.ellipsis
{
    text-overflow: ellipsis;
}

.btn-add-song
{
	max-width: 100%
=======
	text-align: left;
>>>>>>> c37008e305bd4d5289b216bb500d327f2437d3a6
}
>>>>>>> 78b5535bb8c3a96614b4c13ff8abf8fa50dfd93c
